body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(50, 50, 50, 0.8);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 50, 50, 0.8);
}
.title_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  background-color: rgb(40, 142, 152, 0.5);
}
.home_img {
  width: 72%;
  display: block;
  margin: auto;
  animation: fadeInDown;
  animation-duration: 1.2s;
}
.home_title::before,
.asana_card::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.home_title:hover::before,
.asana_card:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.home_title::before,
.asana_card::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(40, 142, 152, 0.8);
  z-index: -1;
  transition: transform 0.5s ease;
}
.asana_card::before {
  background-color: rgb(40, 142, 152, 0.5);
}
.home_title {
  position: relative;
  font-size: 4rem;
  font-weight: 200;
  padding: 10px;
  animation: fadeInDown;
  animation-duration: 1.2s;
}
.title_row div,
.asana_row div {
  width: 48%;
  padding: 20px;
}
.home_text {
  text-align: left;
  animation: fadeInDown;
  animation-duration: 1.2s;
}
.home_button, .asana_button {
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  border-radius: 30px;
  margin-top: 20px;
  animation: fadeInDown;
  animation-duration: 1.2s;
  background-color: rgb(40, 142, 152);
  text-decoration: none;
}
.asana_button {
  padding: 10px 20px;
  font-size: 0.9em;
  color: white;
  animation: none;
  margin-top: 10px;
}
.home_button:hover, .asana_button:hover {
  padding: 10px 30px;
  transition-duration: 0.6s;
}
.home_button:not(:hover), .asana_button:not(:hover) {
  padding: 10px 20px;
  transition-duration: 0.6s;
}
.asana_row {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 50vh;
  width: 80vw;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.asana_row:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: rgb(40, 142, 152, 0.2);
  transition-duration: 0.6s;
}
.asana_row:hover .asana_title {
  animation: bounce;
  animation-duration: 1.5s;
}
.asana_row:hover .asana_img {
  animation: pulse;
  animation-duration: 1.5s;
}
.asana_title {
  font-size: 2rem;
  font-weight: 600;
}
.asana_img {
  width: 64%;
  display: block;
  margin: auto;
}
.odd_numbered_row {
  flex-direction: row-reverse;
  text-align: right;
}
.even_numbered_row {
  text-align: left;
}
.asanas_title {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  margin: 40px auto;
}
.asanas_cards {
  width: 90vw;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.asana_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 30%;
  height: auto;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.asana_card:hover .asana_card_img, .asana_card:hover .asana_card_title {
  animation: pulse;
  animation-duration: 1.5s;
}
.asana_card:hover .asana_card_title {
  color: white;
  transition: ease 0.5s;
}
.asana_card_img {
  width: 64%;
  display: block;
  margin: 25px auto;
}
.asana_card_title {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.starting_letter-1 {
  font-size: 2em;
  color: rgb(220, 80, 132);
}
.starting_letter-2 {
  font-size: 2em;
  color: rgb(40, 142, 152)
}
.tutorial_row {
  animation: fadeInDown;
  animation-duration: 1.2s;
}
.tutorial_title {
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding: 20px 30px;
  background-color: rgb(40, 142, 152);
  color: white;
}
.details_card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 400px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.details_card div {
  background-color: rgb(40, 142, 152);
  color: white;
  margin: 10px 0px;
  width: 20%;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
small {
  font-size: 0.4em;
}
.tutorial_frames {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.video_frames {
  width: 22vw;
  height: 16vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}
.tutorial_video {
  width: 60vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}
.tutorial_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.danger-background {
  background-color: rgb(156, 0, 0);
}
.success-background {
  background-color: rgb(0, 150, 0);
}

@media (max-width: 768px) {
  .title_row,
  .asana_row {
    flex-direction: column;
    height: auto;
    width: 95vw;
    margin: auto;
  }
  .title_row {
    width: 100vw;
  }
  .title_row div,

  .asana_row div {
    width: 100%;
  }
  .asana_row {
    text-align: center;
  }
  .home_button, .asana_button {
    display: block;
    margin: auto;
  }
  .asana_card {
    min-width: none;
    width: 100%;
    margin: auto;
  }
  .tutorial_frames {
    flex-direction: column;
    align-items: center ;
    margin: auto;
    gap: 10px;
  }
  .tutorial_video {
    width: 95vw;
  }
  .tutorial_right {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .video_frames {
    width: 44vw;
    height: 32vw;
  }
}
