{% extends 'base.html' %} {% block content %}

<h2 class="asanas_title"><span class="starting_letter-2">A</span>sanas</h2>

<div class="asana_row odd_numbered_row">
  <div>
    <img class="asana_img" src="../static/img/down_dog.png" alt="down_dog" />
  </div>
  <div>
    <h2 class="asana_title">Downward Facing Dog Asana</h2>
    <p class="asana_description">
      The pose has the head down, ultimately touching the floor, with the weight
      of the body on the palms and the feet. The arms are stretched straight
      forward, shoulder width apart; the feet are a foot apart, the legs are
      straight, and the hips are raised as high as possible.
    </p>
    <a href="tutorial/downward-facing-dog"
      ><button class="asana_button">Start Practicing</button></a
    >
  </div>
</div>

<div class="asana_row even_numbered_row">
  <div>
    <img class="asana_img" src="../static/img/goddess.png" alt="goddess" />
  </div>
  <div>
    <h2 class="asana_title">Goddess Asana</h2>
    <p class="asana_description">
      Goddess Pose is a powerful squat, with your hips dipping down, not back.
      This motion seriously tones your thighs, core, and back in addition to
      providing an intense inner thigh, hip, and pelvic stretch. Ease into it
      slowly and it's incredibly rewarding
    </p>
    <a href="tutorial/goddess"
      ><button class="asana_button">Start Practicing</button></a
    >
  </div>
</div>

<div class="asana_row odd_numbered_row">
  <div>
    <img class="asana_img" src="../static/img/plank.png" alt="plank" />
  </div>
  <div>
    <h2 class="asana_title">Plank Asana</h2>
    <p class="asana_description">
      The plank (also called a front hold, hover, or abdominal bridge) is an
      isometric core strength exercise that involves maintaining a position
      similar to a push-up for the maximum possible time .
    </p>
    <a href="tutorial/plank"
      ><button class="asana_button">Start Practicing</button></a
    >
  </div>
</div>

<div class="asana_row even_numbered_row">
  <div>
    <img class="asana_img" src="../static/img/tree.png" alt="tree" />
  </div>
  <div>
    <h2 class="asana_title">Tree Asana</h2>
    <p class="asana_description">
      Tree pose or Vrikshasana is a balancing asana. It is one of the very few
      standing poses in medieval hatha yoga, and remains popular in modern yoga
      as exercise.
    </p>
    <a href="tutorial/tree"
      ><button class="asana_button">Start Practicing</button></a
    >
  </div>
</div>

<div class="asana_row odd_numbered_row">
  <div>
    <img class="asana_img" src="../static/img/warrior_2.png" alt="warrior_2" />
  </div>
  <div>
    <h2 class="asana_title">Warrior 2 Asana</h2>
    <p class="asana_description">
      Warrior two pose is the second of three related powerful standing postures
      that improve strength and flexibility. In this pose, the legs are placed
      in a lunge position with the forward knee at a 90 degree angle. The arms
      stretch out in opposite directions, in alignment with the body, which is
      facing forward.
    </p>
    <a href="tutorial/warrior-2"
      ><button class="asana_button">Start Practicing</button></a
    >
  </div>
</div>

{% endblock %}
