<div class="bg-light p-3 m-5 text-center rounded-5">
    <p>TRACKER</p>
<div id="time_container" class="m-2">
    <span class="btn btn-dark"  id="hr">00</span>
    <span >hr</span>
    <span class="btn btn-dark" id="min">00</span>
    <span >min</span>
    <span class="btn btn-dark" id="sec">00</span>
    <span >sec</span>
    <span class="btn btn-dark" id="milsec">00</span>
 </div> 
 <div id="btn_container" class="m-2">
    <button id="start " class="btn btn-success m-2" onclick="start()">start</button>
    <button id="stop " class="btn btn-danger m-2" onclick="stop()">stop</button>
    <button id="reset " class="btn btn-warning m-2" onclick="reset()">reset</button>
 </div>
</div>

<script src="../static/js/timer.js"></script>