{% extends 'base.html' %} {% block content %}

<div id="countdown"></div>
<div id="main">
  <div class="tutorial_row">
    <p class="tutorial_title" id="selected-asana">{{selected_asana}} Asana</p>
    <div class="tutorial_container">
      <div class="details_card">
        <div>
          <div id="hours" class="time_block"></div>
          <small id="hours-label"></small>
        </div>
        <div>
          <div id="minutes" class="time_block"></div>
          <small id="minutes-label"></small>
        </div>
        <div>
          <div id="seconds" class="time_block"></div>
          <small id="seconds-label"></small>
        </div>
      </div>

      <div class="details_card">
        <div>
          <div id="calories" class="time_block">0</div>
          <small id="calories-label">Calories</small>
        </div>
        <div>
          <div id="ideal_time" class="time_block">0</div>
          <small id="calories-label">Ideal Time</small>
        </div>
        <div>
          <div id="ideal_calories_burnt" class="time_block">0</div>
          <small id="calories-label">Burning Calories</small>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="tutorial_frames">
      <div class="tutorial_left">
        <video
          class="tutorial_video"
          src="../static/img/demo.mp4"
          controls
          autoplay
          muted
          loop
        ></video>
      </div>
      <div class="tutorial_right">
        <img class="video_frames" src="{{ url_for('video_feed') }}" alt="" />
        <img
          class="video_frames"
          src="{{ url_for('processed_video_feed') }}"
          alt=""
        />
      </div>
    </div>
  </div>
  <button class="stop_button" onclick="stop()">Stop Tutorial</button>
</div>
<script src="../static/js/main.js"></script>
{% endblock %}
